// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  border: black 1px solid;
  padding: 10px;
  width: 200px;
}

.display {
  float: right;
  margin-top: -900px;
  margin-right: 200px;
  border: black 1px solid;
  height: 100vh;
  padding: 300px;
}
